<div class="register-box">
    <div class="register-logo">
        <a href="#"><b>Sub Category</b>Registration</a>
    </div>

    <div class="register-box-body">

        {{!-- start general --}}
        <form method="POST" action="/category/AddSubCategory">

            <div class="form-group">
                <label for="cate">Sub Category</label>
                <input type="text" name="cate" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="cat">Category</label>
                <input type="text" name="cat" list="brands" class="form-control">
                <datalist id="brands">
                    {{# each cat}}
                    <option value="{{this.name}}">
                        {{/each}}
                </datalist>
            </div>

            <div class="form-group">
                <label for="feat">Features</label>
                <input type="text" name="feat" class="form-control" required>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>
</div>
</div>
</div>