<div class="container" >

    <div class="well">

        <div class="row">
            <div class="col-md-12 mx-auto">
                <div class="card card-body">
                    <h3 class="text-center">Registration</h3>
                   
                    {{!-- start general --}}
                    <form method="POST" >
                        <div class="form-group">
                            <label for="cat">Category</label>
                            <input type="text" name="cat" list="cats" class="form-control" placeholder="">
                            <datalist id="cats">
                                {{# each category}}
                                <option value="{{this}}">
                                {{/each}}
                            </datalist>
                            <label for="sub_cat">Sub Category</label>
                            <input type="text" name="sub_cat" class="form-control" placeholder="">
                        <button type="submit" class="btn btn-primary">Submit</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
      $(function() {
        $('form').submit(function(event) {
          event.preventDefault();
          
          console.log("sdfkjsdlkfj");
        });
      });
    </script>