<div class="col-sm-9 ">
          
            <div class="row">

                
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail" style="height: 340px">
                        <a ><img style="height: 200px" class="img-responsive" src="data:image/png;base64,{{ image }}" alt="{{ image }}"></a>
                       
            
                         
            
                       
                    </div>
                </div>
               
            </div>
            
        </div>
    </div>

